<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title id="pageTitle">Subjects</title>
</head>
<body>
<header th:replace="layout::header"></header>
<div class="wrapper">
    <div class="main-layout container-stretch">
        <div class="info-block collapsed">
            <form id="create_test_form" th:action="@{/admin/test/create}" th:object="${test}" method="POST">
                <div class="info-title">
                    <i class="icon-arrow"></i>
                    <span>Quiz settings</span>
                </div>
                <input type="hidden"
                       id="quiz_id"
                       value="${requestScope.test.id}"/>
                <div class="info-content">
                    <div class="quiz_setting">
                        <span class="setting_title">Title:* </span>
                        <input type="text"
                               id="quiz_title"
                               name="title"
                               th:value="*{title}"
                               required/>

                        <p class="form__error"
                           th:each="error : ${#fields.errors('title')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="quiz_setting">
                        <span class="setting_title">Subject: </span>
                        <select class="selector"
                                th:field="*{subject}"
                                name="subject"
                                id="quiz_subject">
                            <option th:each="subject : ${subjects}"
                                    th:value="${subject.id}"
                                    th:text="${subject.name}"></option>
                        </select>
                    </div>
                    <div class="quiz_setting">
                        <span class="setting_title">Difficulty: </span>
                        <select class="selector"
                                th:field="*{difficulty}"
                                name="difficulty"
                                id="quiz_difficulty">
                            <option th:each="difficulty : ${difficulties}"
                                    th:value="${difficulty}"
                                    th:text="${difficulty}"></option>
                        </select>
                    </div>
                    <div class="quiz_setting">
                    <span class="setting_title">
                        Time limit (in minutes)*
                    </span>
                        <input type="number"
                               id="quiz_time"
                               name="time"
                               th:value="*{time}"
                               min="1"
                               required/>
                        <p class="form__error"
                           th:each="error : ${#fields.errors('time')}"
                           th:text="${error}">Validation error</p>
                    </div>
                </div>
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"/>
                <div class="btn-wrapper">
                    <button class="form__button btn-bordered">Create test</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="layout::footer"></footer>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/subject_list.js}"></script>
</body>
</html>
