<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Main page</title>
</head>
<body>
<header th:replace="layout::header"></header>
<div class="content-container">
    <div class="filters">
        <div class="filters-title">
            <i class="fas fa-filter"></i>
            <span th:text="#{filters.title}"></span>
        </div>
        <div class="filter-block">
            <div th:text="#{filters.subject}" class="filter-title"></div>
            <div th:each="subject: ${subjects}" class="filter-item">
                <label class="checkbox-label">
                    <input type="checkbox"
                           class="filter-checkbox"
                           th:attr="data-id=${subject.id}">
                    <!--                               ${subjectFilter.contains(subject.id) ? "checked" : ""} >-->
                    <span th:text="${subject.name}" class="filter-text"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="content">
        <div></div>
        <div class="empty-item"></div>
        <div class="select-sort">
            <div class="current-sort">
                <div class="select-sort-current">
                    <span th:text="#{sort.sort_by}"></span>
                    <span class="sort_name"></span>
                </div>
                <div class="empty-item"></div>
                <div class="dropdown-triangle">
                    <i class="fas fa-caret-down"></i>
                </div>
            </div>

            <!--            TODO refactor-->
            <!--            <ul>-->
            <!--                <li class="sort-item-->
            <!--                    ${empty param.sort || param.sort eq "title" ? "sort-item-current" : ""}"-->
            <!--                data-sort="title">-->
            <!--                <fmt:message key="sort_options.title" />-->
            <!--                </li>-->
            <!--                <li class="sort-item ${param.sort == "difficulty" ? "sort-item-current" : ""}"-->
            <!--                data-sort="difficulty">-->
            <!--                <fmt:message key="sort_options.difficulty" />-->
            <!--                </li>-->
            <!--            </ul>-->
        </div>
        <div class="quiz-container">
            <div th:each="test: ${tests}" th:object="${test}" class="quiz-card">
                <div class="quiz-title">
                    <a th:text="*{title}" href="#" class="quiz-link"></a>
                </div>
                <div class="quiz-property">
                    <i class="quiz-image far fa-clock"></i>
                    <div class="quiz-time">
                        <span th:text="*{timer}"></span>
                        <span th:text="#{quiz_card.minutes}"></span>
                    </div>
                </div>
                <div class="quiz-property">
                    <i class="quiz-image fas fa-dumbbell"></i>
                    <div th:text="#{quiz_card.difficulty.__*{difficulty}__}" class="quiz-difficulty"></div>
                </div>
                <div class="quiz-buttons">
                    <a th:href="@{/test/start(id=*{id})}"
                       th:text="#{quiz_card.start}"
                       class="btn start-btn">
                    </a>
                    <!--                    TODO create user_role table-->
                    <!--                    <c:if test="${sessionScope.user.admin}">-->
                    <a th:href="@{/admin/test/edit(id=*{id})}"
                       th:text="#{quiz_card.edit}"
                       class="btn edit-btn">
                    </a>
                    <!--                    </c:if>-->
                </div>
            </div>
        </div>
        <ul class="pagination">
            <li th:if="${pagination.previousPageExists}" class="page-item">
                <span class="page-link"
                      th:attr="data-page=${pagination.previous}"
                      th:text="${pagination.previous}">
                </span>
            </li>
            <li th:if="${pagination.previousPageExists}" class="page-item">
                <span class="page-link"
                      th:attr="data-page=${pagination.previous}"
                      th:text="${pagination.previous}">
                </span>
            </li>

            <li th:unless="${pagination.previousPageExists}"
                class="page-item disabled">
                <a class="page-link"
                   th:text="#{pagination.previous}"
                   href="#"></a>
            </li>

            <li class="page-item active">
                <span th:text="${pagination.currentPage}" class="page-link"></span>
            </li>
            <li class="page-item">
                <span th:text="${pagination.next}"
                      th:attr="data-page=${pagination.next}"
                      class="page-link">
                </span>
            </li>
            <li class="page-item">
                <span th:text="${pagination.next}"
                      th:attr="data-page=${pagination.next}"
                      class="page-link">
                </span>
            </li>
        </ul>
    </div>
</div>
<footer th:replace="layout::footer"></footer>
<!--<script src="/static/js/main.js"></script>-->
<!--<script>-->
<!--    $(() => {-->
<!--        $('.select-sort').on('click', function () {-->
<!--            $(this).toggleClass('opened');-->
<!--        })-->

<!--        $('.sort-item').on('click', function () {-->
<!--            removePageFromUrl();-->
<!--            updateUrlParameter('sort', $(this).data('sort'));-->
<!--        });-->

<!--        $('.sort_name').text($('.sort-item-current').text());-->
<!--    })-->
<!--</script>-->
</body>
</html>