<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Main page</title>
</head>
<body>
<header th:replace="layout::header"></header>
<div class="content-container">
    <div class="filters">
        <div class="filters-title">
            <i class="fas fa-filter"></i>
            <span th:text="#{filters.title}"></span>
        </div>
        <div class="filter-block">
            <div th:text="#{filters.subject}" class="filter-title"></div>
            <div th:each="subject: ${subjects}" class="filter-item">
                <label class="checkbox-label">
                    <input type="checkbox"
                           class="filter-checkbox"
                           th:attr="data-id=${subject.id}"
                           th:checked="${#lists.contains(selectedSubjects, subject.id)}">
                    <span th:text="${subject.name}" class="filter-text"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="content">
        <div></div>
        <div class="empty-item"></div>
        <div class="select-sort">
            <div class="current-sort">
                <div class="select-sort-current">
                    <span th:text="#{sort.sort_by}"></span>
                    <span class="sort_name"></span>
                </div>
                <div class="empty-item"></div>
                <div class="dropdown-triangle">
                    <i class="fas fa-caret-down"></i>
                </div>
            </div>
            <ul>
                <li class="sort-item"
                    th:text="#{sort_options.title}"
                    th:classappend="${
                        #strings.isEmpty(param.sort) || #strings.equals(param.sort, 'title')
                            ? 'sort-item-current'
                            : ''
                    }"
                    data-sort="title">
                </li>
                <li class="sort-item"
                    th:text="#{sort_options.difficulty}"
                    th:classappend="${#strings.equals(param.sort, 'difficulty') ? 'sort-item-current' : ''}"
                    data-sort="difficulty">
                </li>
            </ul>
        </div>
        <div class="quiz-container">
            <div th:each="test: ${testsPage.toList()}" th:object="${test}" class="quiz-card">
                <div class="quiz-title">
                    <a th:text="*{title}" href="#" class="quiz-link"></a>
                </div>
                <div class="quiz-property">
                    <i class="quiz-image far fa-clock"></i>
                    <div class="quiz-time">
                        <span th:text="*{timer}"></span>
                        <span th:text="#{quiz_card.minutes}"></span>
                    </div>
                </div>
                <div class="quiz-property">
                    <i class="quiz-image fas fa-dumbbell"></i>
                    <div th:text="#{quiz_card.difficulty.__*{difficulty}__}" class="quiz-difficulty"></div>
                </div>
                <div class="quiz-buttons">
                    <a th:href="@{/test/start(id=*{id})}"
                       th:text="#{quiz_card.start}"
                       class="btn start-btn">
                    </a>
                    <!--                    TODO create user_role table-->
                    <!--                    <c:if test="${sessionScope.user.admin}">-->
                    <a th:href="@{/admin/test/edit/{id}(id=*{id})}"
                       th:text="#{quiz_card.edit}"
                       class="btn edit-btn">
                    </a>
                    <!--                    </c:if>-->
                </div>
            </div>
        </div>
        <ul th:if="${testsPage.totalPages > 0}" class="pagination">
            <li th:classappend="${testsPage.hasPrevious() ? '' : 'disabled'}"
                class="page-item">
                <span class="page-link"
                      th:attr="data-page=${testsPage.previousOrFirstPageable().pageNumber + 1}"
                      th:text="#{pagination.previous}">
                </span>
            </li>
            <li th:if="${testsPage.number > 1}" class="page-item">
                <a class="page-link" data-page="1">1</a>
            </li>

            <li th:if="${testsPage.number > 2}" class="page-item">
                <span class="page-link"
                      th:attr="data-page=${testsPage.number - 1}">
                    ...
                </span>
            </li>

            <li th:if="${testsPage.hasPrevious()}" class="page-item">
                <span class="page-link"
                      th:attr="data-page=${testsPage.number}"
                      th:text="${testsPage.number}">
                </span>
            </li>

            <li class="page-item active">
                    <span class="page-link"
                          th:attr="data-page=${testsPage.number + 1}"
                          th:text="${testsPage.number + 1}"></span>
            </li>

            <li th:if="${testsPage.hasNext()}" class="page-item">
                    <span class="page-link"
                          th:attr="data-page=${testsPage.number + 2}"
                          th:text="${testsPage.number + 2}"></span>
            </li>

            <li th:if="${testsPage.totalPages > testsPage.number + 3}" class="page-item">
                    <span class="page-link"
                          th:attr="data-page=${testsPage.number + 3}">
                        ...
                    </span>
            </li>

            <li th:if="${testsPage.number < testsPage.totalPages - 2}" class="page-item">
                    <span class="page-link"
                          th:attr="data-page=${testsPage.totalPages}"
                          th:text="${testsPage.totalPages}">
                    </span>
            </li>

            <li th:classappend="${testsPage.hasNext() ? '' : 'disabled'}"
                class="page-item">
                    <span class="page-link"
                          th:attr="data-page=${testsPage.number + 2}"
                          th:text="#{pagination.next}">
                    </span>
            </li>
        </ul>
    </div>
</div>
<footer th:replace="layout::footer"></footer>
<script th:src="@{/js/main.js}"></script>
</body>
</html>