<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    Main page
    You logged in as <span sec:authentication="name">Bob</span>
    <form action="/logout" method="POST">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />
        <input type="submit" value="logout">
    </form>
</body>
</html>