<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{signup_form.title}">Sign Up</title>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700'>
    <link rel='stylesheet prefetch'
          href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="wrapper">
    <input type="checkbox" name="flipper__checkbox" id="flipper__checkbox" class="flipper__checkbox" hidden checked/>
    <div class="form__container">
        <div class="form__signup">
            <h1 th:text="#{signup_form.header}" class="form__header"></h1>

            <form id="signupForm" th:action="@{/signup}" th:object="${signUpForm}" method="post" class="form">
                <fieldset class="form__group">
                    <label for="signUpName"><span class="label__icon fa fa-user"></span></label>

                    <input id="signUpName"
                           name="firstName"
                           class="form__element"
                           type="text"
                           th:placeholder="#{signup_form.first_name}"
                           th:field="*{firstName}"
                           required/>

                    <p class="form__error"
                       th:each="error : ${#fields.errors('firstName')}"
                       th:text="${error}">Validation error</p>
                </fieldset>

                <fieldset class="form__group">
                    <label for="signUpLastName"><span class="label__icon fa fa-user"></span></label>

                    <input id="signUpLastName"
                           name="lastName"
                           class="form__element"
                           type="text"
                           th:value="*{lastName}"
                           th:placeholder="#{signup_form.last_name}"
                           required/>

                    <p class="form__error"
                       th:each="error : ${#fields.errors('lastName')}"
                       th:text="${error}">Validation error</p>
                </fieldset>

                <fieldset class="form__group">
                    <label for="signUpLogin"><span class="label__icon fa fa-at"></span></label>

                    <input id="signUpLogin"
                           name="login"
                           class="form__element"
                           type="text"
                           th:value="*{login}"
                           th:placeholder="#{signup_form.login}"
                           required/>

                    <p class="form__error"
                       th:each="error : ${#fields.errors('login')}"
                       th:text="${error}">Validation error</p>
                </fieldset>

                <fieldset class="form__group">
                    <label for="signUpPassword"><span class="label__icon fa fa-lock"></span></label>

                    <input id="signUpPassword"
                           name="password"
                           class="form__element"
                           type="password"
                           th:placeholder="#{signup_form.password}"
                           required/>

                    <p th:each="error : ${#fields.errors('password')}"
                       th:text="${error}"
                       class="form__error">Validation error</p>
                </fieldset>

                <fieldset class="form__group">
                    <input class="form__button"
                           type="submit"
                           th:value="#{signup_form.submit_btn}"/>
                </fieldset>

                <small>
                    <span th:text="#{signup_form.bottom_text}"></span>
                    <a class="form__link" th:href="@{/login}" th:text="#{signup_form.click_to_login}"></a>
                </small>
                <small>
                    <a class="language-switcher"
                       th:text="#{login_form.second_language}"
                       th:href="@{/signup(lang=#{login_form.language_changer})}">?????????? ??????</a>
                </small>
                <input
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}"/>
            </form>
        </div>
    </div>
</div>
<script>
    Array.from(document.querySelectorAll('.language-switcher')).forEach(element => {
        element.onclick = (e) => {
            let language = element.getAttribute("data-language");
            document.cookie = "language=" + language;
            document.location.reload();
        };
    });
</script>
</body>
</html>