<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Statistics</title>
</head>
<body>
<header th:replace="layout::header"></header>
<div id="timer">
    <span id="timer-minutes">00</span> :
    <span id="timer-seconds">00</span>
</div>
<div class="wrapper">

    <div class="main-layout">
        <div class="test-question">
            <div th:text="${test.currentQuestion.text}" class="test-question__text"></div>
            <form method="POST" action="/test/action" id="test-form">
                <div class="option-label"
                     th:each="answer,iter : ${test.currentQuestion.answers}"
                     th:classappend="${answer.isSelected} ? 'selected' : ''">

                    <input type="checkbox"
                           class="option"
                           name="options[]"
                           th:value="${iter.index}"
                           th:checked="${answer.isSelected}"/>

                    <span class="option-text" th:text="${answer.text}"></span>
                </div>
                <input type="hidden" id="time_left" name="time_left" th:value="${test.timeLimit}"/>
                <input type="hidden" id="test-action" name="action" value="next"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            </form>
            <div class="test-btns">
                <div th:if="${test.hasPrevious}" class="previous-question">Previous</div>
                <div th:if="${test.hasNext}" class="next-question">Next</div>
                <div class="empty-item"></div>
                <div class="finish-test">Finish</div>
            </div>
        </div>
    </div>
</div>
</div>
<footer th:replace="layout::footer"></footer>
<script th:src="@{/js/main.js}"></script>
<script>
    $(() => {
        $('.option-label').on('click', function () {
            $(this).toggleClass('selected');
            let currentCheckboxValue = $(this).find("input").prop('checked');
            $(this).find("input").prop("checked", !currentCheckboxValue)
        });
        $('.next-question').on('click', () => {
            submitQuestionForm('/test/next');
        });
        $('.previous-question').on('click', () => {
            submitQuestionForm('/test/previous');
        });
        $('.finish-test').on('click', () => {
            submitQuestionForm('/test/finish');
        });
        runTimer();
    });

    function submitQuestionForm(actionUrl) {
        $("#time_left").val(timeLeft);
        $("#test-form").attr('action', actionUrl);
        $("#test-form").submit();
    }

    function getSelectedAnswers() {
        let selectedAnswers = [];
        $('.option-label').each((index, element) => {
            if ($(element).hasClass('selected')) {
                selectedAnswers.push(index);
            }
        });
        return selectedAnswers.join("-");
    }

    let timeLeft = 0;

    function runTimer() {
        timeLeft = $("#time_left").val();
        updateTimer();
        setInterval(updateTimer, 1000);
    }

    function updateTimer() {
        if (timeLeft <= 0) {
            return;
        }
        timeLeft--;
        let minutes = Math.floor(timeLeft / 60);
        let seconds = timeLeft % 60;
        $('#timer-minutes').text(minutes);
        $('#timer-seconds').text(seconds);
    }
</script>
</body>
</html>